In [3]:
#q12

In [4]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [5]:
data = {'Store': ['A']*30 + ['B']*30 + ['C']*30,
        'Day': list(range(1, 31))*3,
        'Sales': [10, 15, 12, 8, 9, 11, 14, 13, 16, 17, 12, 10, 9, 11, 8, 12, 10, 13, 15, 16, 18, 14, 11, 13, 12, 10, 11, 9, 7, 8]*3}
df = pd.DataFrame(data)

In [6]:
df

   Store  Day  Sales
0      A    1     10
1      A    2     15
2      A    3     12
3      A    4      8
4      A    5      9
..   ...  ...    ...
85     C   26     10
86     C   27     11
87     C   28      9
88     C   29      7
89     C   30      8

[90 rows x 3 columns]

In [7]:
model = ols('Sales ~ C(Store) + C(Day)', data=df).fit()
anova_table = anova_lm(model, typ=2)
print(anova_table)

                sum_sq    df             F        PR(>F)
C(Store)  5.056949e-26   2.0  2.594163e+01  8.961845e-09
C(Day)    7.224000e+02  29.0  2.555750e+28  0.000000e+00
Residual  5.653135e-26  58.0           NaN           NaN

In [8]:
posthoc = pairwise_tukeyhsd(df['Sales'], df['Store'])
print(posthoc)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
==================================================
group1 group2 meandiff p-adj  lower  upper  reject
--------------------------------------------------
     A      B      0.0   1.0 -1.7741 1.7741  False
     A      C      0.0   1.0 -1.7741 1.7741  False
     B      C      0.0   1.0 -1.7741 1.7741  False
--------------------------------------------------

In [9]:
#q11

In [ ]:
import numpy as np
from scipy.stats import ttest_ind, f_oneway, tukeyhsd

# Set random seed for reproducibility
np.random.seed(123)

# Generate random test scores for control group and experimental group
control_scores = np.random.normal(loc=70, scale=10, size=100)
experimental_scores = np.random.normal(loc=75, scale=10, size=100)

# Conduct two-sample t-test
t_stat, p_val = ttest_ind(control_scores, experimental_scores)

# Print results
print("Two-sample t-test results:")
print("t-statistic:", t_stat)
print("p-value:", p_val)

# Conduct post-hoc test (Tukey's HSD)
all_scores = np.concatenate((control_scores, experimental_scores))
group_labels = np.concatenate((np.repeat("Control", 100), np.repeat("Experimental", 100)))
tukey_results = tukeyhsd(all_scores, group_labels, 0.05)

# Print post-hoc test results
print("Post-hoc test (Tukey's HSD) results:")
print(tukey_results)

In [11]:
#q10

In [12]:
import numpy as np
import pandas as pd

# Generate random data
np.random.seed(123)
time = np.concatenate([np.random.normal(10, 1, 30), np.random.normal(12, 1, 30), np.random.normal(14, 1, 30)])
program = np.repeat(["A", "B", "C"], 30)
experience = np.tile(["Novice", "Experienced"], 45)

# Create data frame
df = pd.DataFrame({"Time": time, "Program": program, "Experience": experience})

In [13]:
df

         Time Program   Experience
0    8.914369       A       Novice
1   10.997345       A  Experienced
2   10.282978       A       Novice
3    8.493705       A  Experienced
4    9.421400       A       Novice
..        ...     ...          ...
85  12.914098       C  Experienced
86  13.267538       C       Novice
87  12.787477       C  Experienced
88  16.087113       C       Novice
89  14.164441       C  Experienced

[90 rows x 3 columns]

In [14]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Fit the full model
model = ols("Time ~ Program * Experience", data=df).fit()

# Print ANOVA table
print(sm.stats.anova_lm(model))

                      df      sum_sq     mean_sq          F        PR(>F)
Program              2.0  225.905604  112.952802  81.748205  1.949109e-20
Experience           1.0    0.773680    0.773680   0.559941  4.563739e-01
Program:Experience   2.0    0.833565    0.416782   0.301641  7.404012e-01
Residual            84.0  116.064144    1.381716        NaN           NaN

In [15]:
#q9

In [16]:
import numpy as np
import scipy.stats as stats

# Generate some random weight loss data for each diet
diet_A = np.random.normal(5, 1, 50) # mean=5, std=1, n=50
diet_B = np.random.normal(7, 1.5, 50) # mean=7, std=1.5, n=50
diet_C = np.random.normal(4, 0.5, 50) # mean=4, std=0.5, n=50

# Combine the data into a single array
all_data = np.concatenate([diet_A, diet_B, diet_C])

# Create a grouping variable to distinguish between the diets
groups = np.array(['A'] * 50 + ['B'] * 50 + ['C'] * 50)

# Conduct the one-way ANOVA
f_statistic, p_value = stats.f_oneway(diet_A, diet_B, diet_C)

# Print the results
print("F-statistic: ", f_statistic)
print("p-value: ", p_value)

# Interpret the results
if p_value < 0.05:
    print("There is evidence of a significant difference in mean weight loss between the diets.")
else:
    print("There is no evidence of a significant difference in mean weight loss between the diets.")

F-statistic:  117.23042439634595
p-value:  3.641256312947779e-31
There is evidence of a significant difference in mean weight loss between the diets.

In [ ]:
The F-statistic is a measure of how much the variability between the group means differs from what we would expect based on chance alone.
The p-value tells us the probability of observing an F-statistic at least as extreme as the one we calculated, assuming there is no true difference in mean weight loss between the diets.
In this case, the p-value is very small (much smaller than 0.05), indicating strong evidence against the null hypothesis and in favor of the alternative hypothesis that there is a significant difference in mean weight loss between the diets.

In [17]:
#q8

In [ ]:
Tukey's Honestly Significant Difference (HSD) Test: This test is used to determine which pairs of groups are significantly different from each other. It is often used when there are more than two groups being compared. For example, after conducting a one-way ANOVA to compare the effectiveness of three different medication treatments, a Tukey HSD test can be used to determine which medication treatments lead to significantly different outcomes.

Bonferroni Correction: This test is used to control for multiple comparisons when conducting multiple t-tests. It is often used when there are only a few groups being compared. For example, after conducting a one-way ANOVA to compare the effectiveness of three different teaching methods, a Bonferroni correction can be used to determine which teaching methods lead to significantly different outcomes.

ScheffÃ©'s Test: This test is used to control for multiple comparisons when conducting a large number of comparisons. It is often used when there are many groups being compared. For example, after conducting a one-way ANOVA to compare the effectiveness of ten different advertising campaigns, a ScheffÃ©'s test can be used to determine which campaigns lead to significantly different outcomes.

Post-hoc tests are necessary in situations where the ANOVA test indicates a significant difference between groups, but does not provide information about which groups are significantly different. In these situations, post-hoc tests are used to determine which groups are significantly different from each other.

In [18]:
#q7

In [ ]:
In a repeated measures ANOVA, missing data can occur when one or more measurements are not available for a subject or when a subject drops out of the study. Handling missing data appropriately is important because it can affect the results and conclusions drawn from the analysis.

One common approach to handling missing data in a repeated measures ANOVA is to use a method called imputation, which involves estimating missing values based on the available data. There are several methods for imputing missing data, including mean imputation, regression imputation, and multiple imputation.

Mean imputation involves replacing missing values with the mean of the available data for that variable. Regression imputation involves estimating missing values based on a regression equation that uses other variables as predictors. Multiple imputation involves generating multiple plausible values for each missing data point based on the available data and combining the results to obtain an overall estimate.

Another approach to handling missing data is to simply exclude any subjects with missing data from the analysis. However, this can lead to biased results if the missing data are not missing completely at random (MCAR), meaning that the probability of missing data depends on both the observed and unobserved data.

The consequences of using different methods to handle missing data can be significant. Mean imputation can lead to underestimation of the standard error and biased estimates of the treatment effects if the missing data are not MCAR. Regression imputation can also lead to biased estimates if the imputation model is misspecified. Multiple imputation can provide more accurate estimates if the missing data are not MCAR, but it can be computationally intensive and requires making assumptions about the missing data mechanism.

In [19]:
#q6

In [ ]:
A one-way ANOVA with an F-statistic of 5.23 and a p-value of 0.02 indicates that there are significant differences between the groups being compared.
The F-statistic suggests that there is a significant amount of variation between the group means, while the p-value indicates that the probability of obtaining such a result by chance alone is only 2%.

Therefore, we can conclude that there is evidence to support the hypothesis that at least one of the group means is significantly different from the others.
However, further post-hoc tests would be necessary to determine which groups differ significantly from each other. Overall, the results suggest that the variable being studied has an effect on the outcome and that the groups are not all the same with respect to the variable of interest.

In [20]:
#q5

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Load the dataset
data = pd.read_csv('data.csv')

# Fit the ANOVA model
model = ols('outcome ~ C(factor1) + C(factor2) + C(factor1):C(factor2)', data).fit()

# Print the ANOVA table
table = sm.stats.anova_lm(model, typ=2)
print(table)

We then use the sm.stats.anova_lm function to calculate the ANOVA table, which includes the F-statistic and p-value for each main effect and interaction effect.
 the typ=2 argument specifies that we want to calculate the sum of squares using the Type 2 method, which is appropriate for balanced designs with no missing data. If there are missing data, you may need to use the Type 3 method or other methods for calculating the sum of squares.

In [21]:
#q4

In [27]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

# create a dataframe with the data
data = {'Group': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'],
        'Score': [5, 7, 6, 8, 9, 10, 4, 5, 7]}
df = pd.DataFrame(data)

# perform one-way ANOVA
model = ols('Score ~ Group', data=df).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

             sum_sq   df         F    PR(>F)
Group     22.888889  2.0  7.923077  0.020717
Residual   8.666667  6.0       NaN       NaN

In [ ]:
SST = sum((Score - mean(Score))^2)
SSE = sum(ni * (mean_i - mean(Score))^2)
SSR = SST - SSE

In [22]:
#q3

In [ ]:
The partitioning of variance in ANOVA refers to the process of dividing the total variance in a set of data into different sources of variance, such as between groups, within groups, and error variance.
This partitioning is important because it allows us to determine the relative contributions of each source of variance to the total variation in the data.

By partitioning the variance into these different sources, ANOVA can determine whether there are any significant differences between the groups being compared. 
It can also help identify which source of variance is driving any significant differences, such as differences between the means of the groups or differences within each group. This information can be useful for making informed decisions, such as whether to reject or accept a null hypothesis, and for understanding the factors that contribute to variation in a dataset.

In [23]:
#q2

In [ ]:
The three types of ANOVA are:

One-way ANOVA: It is used when there is only one factor or independent variable that affects the dependent variable. For example, if we want to compare the effectiveness of three different treatments on a disease, we can use one-way ANOVA.

Two-way ANOVA: It is used when there are two factors or independent variables that affect the dependent variable. 
For example, if we want to investigate the effect of two different factors (e.g. age and gender) on blood pressure, we can use two-way ANOVA.

Repeated measures ANOVA: It is used when the same individuals are measured multiple times under different conditions.
For example, if we want to compare the performance of individuals on a task before and after a training program, we can use repeated measures ANOVA.

Each type of ANOVA is used in different situations depending on the number of factors and the design of the study.
Understanding the appropriate type of ANOVA to use can help ensure accurate and meaningful statistical analysis.

In [28]:
#q1

In [ ]:
ANOVA (Analysis of Variance) is a statistical test used to analyze whether there is a significant difference among the means of three or more groups. There are several assumptions that need to be met in order to use ANOVA correctly:

Normality: The dependent variable should be normally distributed in each group.
Homogeneity of variance: The variance of the dependent variable should be the same in each group.
Independence: The observations in each group should be independent of each other.
Violations of these assumptions can lead to incorrect results and invalid conclusions. Here are some examples of violations that could impact the validity of the results:

Violation of normality: If the dependent variable is not normally distributed, the results of ANOVA may not be accurate. For example, if the dependent variable is highly skewed or has outliers, it may violate the normality assumption. This can be checked by plotting a histogram or normal probability plot of the data.
Violation of homogeneity of variance: If the variance of the dependent variable is not the same across all groups, the results of ANOVA may not be accurate. This can be checked using a Levene's test for homogeneity of variance. If the p-value is less than the significance level, it indicates a violation of the homogeneity of variance assumption.
Violation of independence: If the observations in each group are not independent of each other, the results of ANOVA may not be accurate. For example, if there is clustering or dependence within groups, it may violate the independence assumption. This can be checked by examining the experimental design and the method of data collection.